@page
@model Rookie.Ecom.Customer.Pages.Product.CreateModel
@{

}

<div class="input-group input-group-sm mb-3">
    <div class="col-1">
        <label asp-for="details">Category: </label>
    </div>
     <div class="col-4">

        <select asp-for="details" class="selectpicker" asp-items="ViewBag.ListCategory" size=10 multiple></select>
    </div>
    </div>
<div class="input-group input-group-sm mb-3">
    <div class="col-1">
        <label class="col-form-label" asp-for="product.ProductName">Name: </label>
    </div>
    <div class="col-4">
        <input  class="form-control" asp-for="product.ProductName"/>
    </div>
</div>
<div class="input-group input-group-sm mb-3">
    <div class="col-1">
        <label class="col-form-label" asp-for="product.Desc">Description: </label>
    </div>
    <div class="col-4">
        <textarea  class="form-control" asp-for="product.Desc"></textarea>
    </div>
</div>
<div class="input-group input-group-sm mb-3">
    <div class="col-1">
        <label class="col-form-label" asp-for="product.Price">Price: </label>
    </div>
    <div class="col-4">
        <input  class="form-control" asp-for="product.Price"></input>
    </div>
</div>
<div class="input-group input-group-sm mb-3">
    <div class="col-1">
        <label class="col-form-label" asp-for="product.IsFeatured">IsFeatured: </label>
    </div>
    <div class="col-4 mt-2">
        <input type="checkbox"  class="form-check-input" asp-for="product.IsFeatured"></input>
    </div>
</div>
<div class="input-group input-group-sm mb-3">
    <div class="col-1">
        <label class="col-form-label" asp-for="product.Quantity">Quantity: </label>
    </div>
    <div class="col-4">
        <input  class="form-control" asp-for="product.Quantity"></input>
    </div>
</div>

@section Scripts {
    <script>
        

    </script>
}